/* style.css */

fieldset{
	background-color: #e6e6e6;
	width: 400px;
}
h1{
	font-family:Times New Roman, Times, serif;
	color:#ff8000;
}
button{
	margin-bottom:30px;
	color: #ff1a1a;
	font-size: 15px;
	
}
label{
	color:#4770eb;
	font-size: 20px;
}